<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

	<servlet>
        <servlet-name>SelectorServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.SelectorServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>SelectorServlet</servlet-name>
        <url-pattern>/SelectorServlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.ConfigServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/ConfigServlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ToggleOptionServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.ToggleOptionServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>ToggleOptionServlet</servlet-name>
        <url-pattern>/ToggleOptionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompareAdvantageServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.CompareAdvantageServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>CompareAdvantageServlet</servlet-name>
        <url-pattern>/CompareAdvantageServlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>CompareSideBySideServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.CompareSideBySideServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>CompareSideBySideServlet</servlet-name>
        <url-pattern>/CompareSideBySideServlet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ScratchListServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.ScratchListServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>ScratchListServlet</servlet-name>
        <url-pattern>/ScratchListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.SearchServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveStyleServlet</servlet-name>
        <servlet-class>com.chrome.accssample.servlet.SaveStyleServlet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>SaveStyleServlet</servlet-name>
        <url-pattern>/SaveStyleServlet</url-pattern>
    </servlet-mapping>

</web-app>
